body{
  font-family: 'Raleway', sans-serif !important;
  background-color: blueviolet;
}

.App {
  text-align: center;
}

#author {
   font-weight: 400;
   font-size: 1em;
   text-align: right;
   margin-top: 20px;
   color: blueviolet;
}

#text {
  text-align: center;
  font-weight: 500;
  font-size: 1.75em;
  color: blueviolet;
}

#quote-box {
  padding: 40px 50px;
  background-color: #FFF;
  border-radius: 3px;
  width: 450px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#new-quote {
  color: #FFF;
  height: 38px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  border: none;
  float: right;
  background-color: blueviolet;
}
.buttons{
  display: block;
  margin-top: 30px;
}

#tweet-quote {
  float: left;
  width: 20px;
  background-color: blueviolet;
  font-style: none;
}